*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}


.navbar {
    background: #000000;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    top: 0;
    position: sticky;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

.navbar__title {
    display: flex;
    align-items: center;
    margin: 1rem;
}

#navbar__logo {
    background-color: white;
    font-weight: bolder;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 1rem;
    text-decoration: none;
    font-size: 2rem;
    padding-left: 100px;
}

body {
    background-color: #4F4E68;
  }
  .book {
    position: absolute;
    width: 5rem;
    height: 3.5rem;
    perspective: 70rem;
    margin-right: 50px;
  }
  .cover {
    background-color: #36354e;
    transform: rotateY(0deg);
    width: 3rem;
    height: 3.7rem;
  }
  .page {
    top: 0.25rem;
    left: 0.25rem;
    background-color: #e9e6c4;
    transform: rotateY(0deg);
    width: 2.75rem;
    height: 3.2rem;
    text-align: right;
    font-size: 8px;
    color: #777;
    font-family: monospace;
  }
  .page::before, .page::after {
    display: block;
    border-top: 1px dashed rgba(0, 0, 0, 0.3);
    content: "";
    padding-bottom: 1rem;
  }
  .cover, .page {
    position: absolute;
    padding: 1rem;
    transform-origin: 100% 0;
    border-radius: 5px 0 0 5px;
    box-shadow: inset 3px 0px 20px rgba(0, 0, 0, 0.2),
      0px 0px 15px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }
  .cover.turn {
    animation: bookCover 3s forwards;
  }
  .page.turn {
    animation: bookOpen 3s forwards;
    color: #00ff40;
    color: transparent;
  }
  .page:nth-of-type(1) {
    animation-delay: 0.05s;
  }
  .page:nth-of-type(2) {
    animation-delay: 0.33s
  }
  .page:nth-of-type(3) {
    animation-delay: 0.66s;
  }
  .page:nth-of-type(4) {
    animation: bookOpen150deg 3s forwards;
    animation-delay: 0.99s;
  }
  .page:nth-of-type(5) {
    animation: bookOpen30deg 3s forwards;
    animation-delay: 1.2s;
  }
  .page:nth-of-type(6) {
    animation: bookOpen55deg 3s forwards;
    animation-delay: 1.25s;
  }
  @keyframes bookOpen {
    30% { z-index: 999 }
    100% {  transform: rotateY(180deg);
      z-index: 999;}
  }
  @keyframes bookCover {
    30% { z-index: 999 }
    100% {  transform: rotateY(180deg);
      z-index: 1;}
  }
  @keyframes bookOpen150deg {
    30% { z-index: 999 }
    100% {  transform: rotateY(150deg);
      z-index: 999;}
  }
  @keyframes bookOpen55deg {
    30% { z-index: 999 }
    100% {  transform: rotateY(55deg);
      z-index: 999;}
  }
  @keyframes bookOpen30deg {
    50% { z-index: 999 }
    100% {  transform: rotateY(30deg);
      z-index: 999;}
  }

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
}

.navbar__button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 99%;
    width: 99%;
    background: #000000;
    color:#08fdd8;
    transition: all 0.3s ease;
    cursor: pointer;
    position:relative;
    align:none;
    box-sizing: border-box;
    border: 1px solid #08fdd8;
    height: 30px;
}

.navbar__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8 1rem;
    width: 100%;
}

.navbar__button a{
    position: relative;
    z-index: 2;
    color: #08fdd8;
    text-decoration: none;
    transition: all 0.3s;
    padding: 10px 20px;
    width: 100%;
}

.navbar__button a:hover{
    color: black;
}

.navbar__button:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #08fdd8;
    color: black;
    transition: all 0.35s;
}

.navbar__button:hover {
    color: #000000;
}

.navbar__button:hover:after {
    width:100%
}

.navbar__links:hover {
    color: rgb(222, 112, 255);
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar{
        width:100%;
        padding:0;
    }

    .navbar__title{
        margin: 0rem;
    }
    
    #navbar__logo{
        text-align: center;
    }

    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding:10px;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width:100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
        background: #131313;
    }

    .navbar__menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }

    .navbar__toggle .bar {
        cursor: pointer;
        width: 50px;
        height: 8px;
        margin: 7px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem
    }

    .navbar__button {
        padding: 2.5rem;
        width: 30%;
        margin-left: 35%;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
        text-align: center;
    }

    #mobile-menu {
        position: relative;
        top: 20%;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(-8px) rotate(-45deg);
    }

    #mobile-menu.isactive .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}


@keyframes roundandround {
    to {
      transform: rotateX(360deg) rotateY(360deg);
    }
  }
  
  @keyframes show {
    to {
      opacity: 1;
    }
  }

/*  Hero Section */
.hero {
    background: #000000;
}

.hero__container{
    display: flex;
    background-color: black;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    max-width: 700px;
    margin: 0, auto;
    height: 90%;
    text-align: left;
    padding:50px;
    margin-left: 10px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  background-color: #000
}

.tagcloud {
    font-family: 'Poppins', sans-serif;  
    font-size: 20px;
    margin: auto;
    width: 50%;
    color:#08fdd8;
    left: 20%
  }
  .tagcloud--item:hover {
    color: #f59bff;
  }

.hero__heading{
    font-size: 70px;
    margin-bottom: 1px;
    color: #fff;
    cursor: pointer;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.hero__heading span{ 
    background: -webkit-linear-gradient(
        to right, 
        #5D26C1, 
        #a17fe0, 
        #59C173
    );  /* Chrome 10-25, Safari 5.1-6 */
    background-image: linear-gradient(
        -225deg, 
        #4806c2 0%,
        #a17fe0 33%, 
        #00ff40 66%,
        #81c592 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #000000;
    -webkit-background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
}

@keyframes textclip {
    to {
      background-position: 200% center;
    }
  }


.highlight{
    border-bottom: 4px solid  rgb(132, 0, 255);
}

.hero__description{
    font-size: 20px;
    background: #898989;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -mo-text-fill-color: transparent;
    text-align: left;
    margin-bottom: 10px;
}

.highlight{
    border-bottom: 4px solid  rgb(132, 0, 255);
}

.main__button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 150px;
    background: #000000;
    color:#08fdd8;
    transition: all 0.3s ease;
    cursor: pointer;
    position:relative;
    align:none;
    box-sizing: border-box;
    border: 1px solid #08fdd8;
    height: 50px;
    font-size: 17px;
}

.main__button a{
    position: relative;
    z-index: 2;
    color: #08fdd8;
    text-decoration: none;
    transition: all 0.3s;
    padding: 10px 20px;
    width: 100%;
}

.main__button a:hover{
    color: black;
}

.main__button:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #08fdd8;
    color: black;
    transition: all 0.35s;
}

.main__button:hover {
    color: #000000;
}

.main__button:hover:after {
    width:100%
}

@media screen and (max-width: 960px){
    .hero{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .hero__container{
        align-items: center;
        text-align: center;
        margin-bottom: 5%;
        padding-top:50px;
        padding-bottom: 0;
        width: 100%;
    }
    
    .hero__heading{
        font-size: 50px;
        width: 100%;
    }

    .hero__descption{
        font-size: 50px;
        width: 100vmax;
    }

    .hero__heading span {
        font-size: 60px;
    }

    .tagcloud{
        left: 0;;
        margin-top: 20%;
        max-height: 275px;
        max-width: 275px;
        margin-bottom: 40%;
    }

}
/* About Section*/
.main{
    background-color: #131313;
    padding: 10rem-0;
}

.extras span{
    color: rgb(69, 69, 69);
    top:0;
    bottom:0;
    right:0;
    left:0;
    height:100%;
    width:100%;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300;
    padding: 0 50px;
}

.main__content {
    color: #fff;
    width: 100%;
}
@import url(//fonts.googleapis.com/css?family=Open+Sans);
.main__content p {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    background-color: white;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.main__img--container {
    text-align: center;

}

.main__img--card {
    margin: 50px;
    margin-top: 10px;
    height: 80%;
    width: 400px;
    border-radius: 4px;
    float: right;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.Sphere{
    display: block;
}

.main__content h1{
    color: #08fdd8;
    font-size: 5rem;;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5%;
    background-image: linear-gradient(
        -225deg, 
        #4806c2 0%,
        #a17fe0 33%, 
        #00ff40 66%,
        #81c592 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #000000;
    -webkit-background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
}
@media (max-width: 960px) {
    
    .Sphere{
        display: block;
    }
}

@media screen and (max-width: 960px) { 
    .main{
        display: block;
    }

    .main__container{
        height: 100%;
        display: block;
        width: 100%;
        padding: 0 20px
    }
    
    .main__img--card{
        align-items: end;
        height: 100%;
        width: 100%;
        margin: 0px;
    }

    .main__content h1{
        font-size: 3rem;
    }

    .main__content {
        text-align: center;
    }

    .main__content p{
        font-size: 12px;
    }
    
    .main__img--container {
    text-align: center;

}

.main__img--card {
    margin: 50px;
    margin-top: 10px;
    height: 80%;
    width: 400px;
    border-radius: 4px;
    float: right;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.Sphere{
    display: block;
}

.main__content h1{
    color: #08fdd8;
    font-size: 5rem;;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5%;
    background-image: linear-gradient(
        -225deg, 
        #4806c2 0%,
        #a17fe0 33%, 
        #00ff40 66%,
        #81c592 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #000000;
    -webkit-background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
}
@media (max-width: 960px) {
    
    .Sphere{
        display: block;
    }
}

@media screen and (max-width: 960px) { 
    .main{
        display: block;
    }

    .main__container{
        height: 100%;
        display: block;
        width: 100%;
        padding: 0 20px
    }
    
    .main__img--card{
        align-items: end;
        height: 100%;
        width: 100%;
        margin: 0px;
    }

    .main__content h1{
        font-size: 3rem;
    }

    .main__content {
        text-align: center;
    }

    .main__content p{
        font-size: 12px;
    }
}

.work {
    background-color: #000;
}



.services__container h1 {
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    color: #08fdd8;
    background-image: linear-gradient(
        -225deg, 
        #4806c2 0%,
        #a17fe0 33%, 
        #00ff40 66%,
        #81c592 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #000000;
    -webkit-background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    margin-bottom: 3%;
}

.services__wrapper {
    display: grid;
    text-align: center;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.services__container {
    text-align: center;
    width: 100%;
    align-items: center;
}

.services__card {
    gap: 10px;
    height:200px;
    width:300px;
    text-align: center;
    margin-left: 15%;
    display: flex;
    border-radius: 4px;
    flex-direction:column-reverse;
    justify-content: center;
    color: #fff;
    background-image: "https://www.google.com/maps/d/thumbnail?mid=1LXwLKXtP7xmzFPgH9u9QXM_Y2lo&hl=en" style="width: 300px; height: 200px;";
    transition: 0.3s ease-in;
    row-gap: 10px;
    margin-bottom: 10%;
}
}
